<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwitchBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TwitchBot.Properties.Settings>
            <setting name="SettingsProxyTXT" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsProxyCHK" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingsOnStartSteamCHK" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingsAutoLinkingDisableCHK" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingsAutoDetectingDisableCHK" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingsReactionDelayFromTXT" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="SettingsReactionDelayToTXT" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="SettingsMessagesDelayFromTXT" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="SettingsMessagesDelayToTXT" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="FormChannelNameTXT" serializeAs="String">
                <value>isybycnsmam</value>
            </setting>
            <setting name="FormFollowDelayFromTXT" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="FormFollowDelayToTXT" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="FormMessageClipboardTXT" serializeAs="String">
                <value>!giveaway@#@!giveaway2@#@LUL</value>
            </setting>
            <setting name="FormMessageDelayFromTXT" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="FormMessageDelayToTXT" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="FormSearchBoxTXT" serializeAs="String">
                <value>isybycnsmam</value>
            </setting>
            <setting name="FormLastSteamAccSelected" serializeAs="String">
                <value>0</value>
            </setting>
        </TwitchBot.Properties.Settings>
    </userSettings>
</configuration>